[package]
name = "bulwark-cli"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"
homepage = "https://bulwark.security/"
repository = "https://github.com/bulwark-security/bulwark"
readme = "README.md"
keywords = ["bulwark", "security", "fraud", "webassembly", "wasm"]
categories = ["wasm"]

[badges]
maintenance = { status = "experimental" }

[dependencies]
bulwark-ext-processor = { path = "crates/ext-processor", version = "0.1.0" }
bulwark-config = { path = "crates/config", version = "0.1.0" }
thiserror = "1.0.37"
clap = { version = "4.0.29", features = ["derive"] }
clap_complete = "4.0.6"
# TODO: used for debug currently, remove later
serde = { version = "1.0.149", features = ["std", "serde_derive"] }
serde_json = "1.0.93"
toml = { version = "0.5.9", features = ["preserve_order"] }
tokio = { version = "1", features = ["rt-multi-thread", "macros", "tracing"] }
envoy-control-plane = { version = "0.4.0", features = ["grpc"] }
tonic = "0.6.2"
tracing = "0.1.37"
tracing-log = "0.1.3"
tracing-opentelemetry = "0.18.0"
tracing-forest = { version = "0.1.5", features = ["tokio", "chrono", "uuid"] }
tracing-appender = "0.2.2"
tracing-futures = { version = "0.2.5", features = ["tokio"] }
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
color-eyre = "0.6.2"
http = "0.2"
hyper = { version = "0.14.25", features = ["server"] }
tower = { version = "0.4.13", features = ["tokio", "tracing"] }
axum = { version = "0.6.12", features = ["http2"] }
tower-http = { version = "0.4.0", features = [
    "tokio",
    "trace",
    "tracing",
    "normalize-path",
] }
tower-layer = "0.3.2"
chrono = { version = "0.4.24", features = ["serde"] }
quoted-string = "0.6.1"
tracing-core = "0.1.30"

[build-dependencies]
clap_mangen = "0.2.5"

[workspace]
members = [
    "crates/config",
    "crates/ext-processor",
    "crates/wasm-host",
    "crates/wasm-sdk",
    "crates/decision",
]

[profile.test]
opt-level = 2
codegen-units = 8
